*, *:before, *:after
  box-sizing: border-box

html
  font-size: 14px

body
  font-family: 'Futura Book', sans-serif
  font-size: 1rem

img
  max-width: 100%

input, button
  outline-style: none


// Кнопка прокрутки наверх
.scroll-up
  position: fixed
  bottom: 0
  left: 0
  padding: 1rem
  margin: 1rem
  right: 100%
  background: transparent
  opacity: 0
  visibility: hidden
  transition: 0.2s
  border: none
  cursor: pointer
  color: $dark
  font-size: 1.3rem

  &:hover
    background: $dark
    color: $light

.visible
  opacity: 1
  visibility: visible

.section
  padding: 60px 0

  &-dark
    background-color: $dark
    color: $light

  &-title
    text-align: center

    &__word
      display: flex
      align-items: center

      &::after
        content: ''
        width: 6.642rem
        height: 2px
        background-color: $primary
        margin-left: 2.3rem
    &__text
      font-size: 1.28rem
      line-height: 2.07rem
    &--left
      text-align: left
    &--left > p
      margin-bottom: 2.16rem
      max-width: 31.57rem
      margin-left: 0
      font-size: 1.285em
      line-height: 2.07rem


    &__heading
      text-transform: uppercase
      font-family: 'Yeseva One', cursive
      line-height: 138.6%
      font-size: 1.928rem
      letter-spacing: -2px
      font-weight: normal

      &--primary
        color: $primary

    &__image
      display: flex
      justify-content: center
      align-items: center

      &::before, &::after
        content: ''
        width: 32px
        height: 2px
        background-color: $primary
        margin: 0 10px